<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>建立投票</title>
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
	<link rel="Shortcut Icon" type="image/x-icon" href="img/icon.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="header">
		<a href="http://127.0.0.1:3005/homepage"><img src="pic/logo.png" title="八角投票網"></a>
		<div id="right_login_btn"><a href="http://127.0.0.1:3005/user_edit" id="username"><%= user[0].u_account %></a><a href="http://127.0.0.1:3005/logout" id="log_state">登出</a></div>
	</div>
	<div class="clear"></div>
	<div class="wrap">
		
			<form action="http://127.0.0.1:3005/build" class="build-vote" method='post'>
				<h2>投票主題名稱</h2>
				<p><input type="text" placeholder="投票主題名稱" name="title"></p>
				<h2>投票選項</h2>
				<p><input type="text" placeholder="選項 1" name="test[]"></p>
				<p><input type="text" placeholder="選項 2" name="test[]"></p>
				<!-- <p id="addOption-active"><input type="text" placeholder="選項 ..." name="option"></p>
				<p id="addOption-btn"><button>新增投票選項 <i class="far fa-plus-square"></i></button></p> -->

				<div id="showBlock"></div>
				<p><a id="addOption-btn">新增投票選項 <i class="far fa-plus-square"></i></a></p>


				<h2>每人投票數上限</h2>
				<p><input type="number" name="vote_amount" min="1"></p>

				<h2>投票截止時間</h2>
				<p><input type="datetime-local" name="voet_deadline"></p>
				<p><input type="submit" value="建立"></p>
			</form>
		
	</div>
	<div class="footer">		
		<p>Copyright © 2017 NUKIM. All rights reserved.</p>		
	</div>

	<!-- 引入外部 JS -->
	<script src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="style.js"></script>
</body>
</html>