<!DOCTYPE html>
<script src="https://d3js.org/d3.v4.0.0-alpha.4.min.js"></script>
<html>
	<body>
        wq
		<div w3-include-html="pie.html"></div>
	</body>
</html>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
	w3.includeHTML();
</script>